*{
    font-family: 'Noto Sans SC', Helvetica, Arial, sans-serif;
}

.myBtn:hover{
    background-color: #B71C1C;
}

.myBtn{
    font-size:1.257rem;
    flex:1 1 auto;
    margin-top:20px;
    background-color: #1565C0;
    border:none;
    color: #FAFAFA;
}
    


.main{
    margin-top:60px;
}

#gifs img{
    padding:20px;
}

#add-team{
    width:100%;
}

